.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  animation: gradient 12s alternate infinite both;

  .logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 70px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
  a {
    color: gray
  }
  * {
      mix-blend-mode: color-dodge;
  }
}

@keyframes gradient {
  0% {
    background: #4e5d8d;
    box-shadow: 0 15px 25px -5px #4e5d8d60;
  }
  50% {
    background: #77bb9b;
    box-shadow: 0 15px 25px -5px #77bb9b60;
  }
  100% {
    background: #28ada7;
    box-shadow: 0 15px 25px -5px #28ada760;
  }
}
